 <!DOCTYPE html>
<html>
<head>
  <title>Jobber</title>

  <% include partials/head %>

</head>
<body>
<div class="container">
	<div class="row">
<!-- 		column to fill out form for job submission -->
			<div class="col-md-4">
				<div class="sticky-top">
					<div class="row">
					<h1>Submit a Job</h1>
				</div>
		  		<form action="create" method="post">
		  				<div class="form-group">
		  					<label for="name">Position:</label>
					    	<input type="text" class="form-control" name="title">
					    </div>
					    <div class="form-group">
					    	<label for="phone_number">Company:</label>
					    	<input type="text"  class="form-control" name="business">
					    </div>
					    <div class="form-group">
					    	<label for="website_url">Website Source:</label>
					    	<input type="text"  class="form-control" name="website_source">
					    </div>

					    <div class="form-group">
							<label for="state">State</label>
								<select class="form-control" id="state" name="location">
									<option value="">N/A</option>
									<option value="AK">Alaska</option>
									<option value="AL">Alabama</option>
									<option value="AR">Arkansas</option>
									<option value="AZ">Arizona</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DC">District of Columbia</option>
									<option value="DE">Delaware</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="IA">Iowa</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="MA">Massachusetts</option>
									<option value="MD">Maryland</option>
									<option value="ME">Maine</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MO">Missouri</option>
									<option value="MS">Mississippi</option>
									<option value="MT">Montana</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="NE">Nebraska</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NV">Nevada</option>
									<option value="NY">New York</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="PR">Puerto Rico</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VA">Virginia</option>
									<option value="VT">Vermont</option>
									<option value="WA">Washington</option>
									<option value="WI">Wisconsin</option>
									<option value="WV">West Virginia</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
						  <div class="form-group">
			    			<button class="btn btn-primary" id="submitjob">Submit Job</button>
						</div>
				</form>
		</div></div>
				

<!-- column for actual submitted jobs -->
	<div class="col-md-8" id="joblist">
			<% include partials/alljobs %>
	</div>
	
	</div>
</div>

</body>

<footer>
	  <% include partials/footer %>
</footer>
</html>