body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e4e4e4;
  font-family: 'Nunito', sans-serif;
}

a {
  color: #00B7FF;
}

.card-height {
	max-height: 200px;
}

.commentholder{
	display: none;
}


.archive{
	background-color: #b5b5b5;
    text-decoration-line: line-through;
    text-decoration-style: initial;
    text-decoration-color: initial;
	color:#2f2f2f;

}

.delete{
	border: none;
	color: #dc3545;
	font-weight: bold;
    margin-top: 5px;

}

.editjobs{
	display: none;
}

